.Booking{
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
}

.Booking figure, h5{
    margin: 0 0;
}

.Heart{
    color: darkred;
}

.Heart:hover{
    color: indigo;
    transition: color 0.3s ease-in-out;
}

.HeartOutline:hover{
    color: darkred;
}