.label{
  font-size: large;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.Container {
    min-height: 343px;
    margin-right: 10px;
    border-radius: 7px;
  }

.hidden{
  display: none;
}

.alert{
  max-width: 600px;
  height: 20px;
  margin: 30px auto;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
}

.alert, .fade{
  animation: fade-in 3s;
}
@keyframes fade-in {
    0%{ opacity: 0; transform: translateY(-50px);}
    25%{ opacity: 1;}
    50%{ opacity: 1;transform: translateY(0);}
    100%{ opacity: 0; transform: translateY(30px);}
}

.input{
  display: block;
  align-items: center;
  margin: auto auto 40px auto;
  padding: auto 20px;
  font-size: large;
  border-radius: 12px;
  border: 1px solid #aaa;
  max-width: 600px;
}