.Booking{
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 12px;
    margin: 10px auto;
    padding: 5px 0px;
    max-width: 600px;
    height: auto;
}

.Booking figure, h5{
    margin: 0 0;
    font-size: 1.3em;
}

.desc{
    height: 20px;
    text-align: right;
    margin: auto;
  }

.ThreeDots{
    margin: auto 30px auto 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}