.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
  }
  .dropdown{
    width: 20px;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  
  .Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
  }

  .alert{
    max-width: 600px;
    height: 20px;
    margin: 30px 10px;
    animation: fade-in 3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@keyframes fade-in {
    0%{ opacity: 0; transform: translateY(-50px);}
    25%{ opacity: 1;}
    50%{ opacity: 1;transform: translateY(0);}
    100%{ opacity: 0; transform: translateY(30px);}
}
