.NavBar{
    background-color: #fff;
    border-bottom: 1px solid black;
}

.NavLink {
    padding: 0px;
    text-decoration: none;

  }
  
.Active i {
  color: darkmagenta;
  }

.logo{
  height: 50px;
}