.NavBar{
    background-color: #fff;
    border-bottom: 1px solid black;
}

.NavLink {
    padding: 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
  
.Active i {
  color: darkmagenta;
  }

.logo{
  height: 30px;
}