.NavBar{
    background-color: #fff;
    border-bottom: 1px solid black;
}

.NavLink {
    padding: 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
.Active i {
  color: darkred;
  }

.logo{
  height: 30px;
}

.Avatar{
  display: flex;
  align-items: center;
  background-color: #666;
  padding: 20px;
  border: 1px solid black;
}