*{
  --primary-color: #336699;
  --bg-color: #fff;
}

.Row {
    height: calc(100vh-80px);
    margin: auto auto;
  }

.alert{
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round{
  color: black;
  border-top: none;
  border-bottom: none;
  border-color: #336699;
  width: 100px;
  border-radius: 0;
  background-color: var(--bg-color);
  height: 30px;
  margin: 50px auto 0 auto;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.round:hover{
  color: black;
  background-color: var(--bg-color);
  width: 250px;
}

.Input {
  background: #ffffff;
  border: 1px solid #336699;
  box-sizing: border-box;
  border-radius: 5px;
  color: #000;
  text-align: center;
  padding: 5px;
  font-size: 1em;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #ff9254;
}

.Container {
  padding: 30px 10px;
  background-color: var(--bg-color);
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}