.App {
  text-align: left;
  font-size: 0.8rem;
  min-height: 100vh;
  /* background: radial-gradient(#336699, #003366); */
}

.Main{
  padding-top: 81px;
  width: 100vw;
}

.home{
  color: 444;
  margin-left: 0px;
  margin-top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 40px;
  background-color: rgba(255,255,255,0.6);
}

*{
  box-sizing: border-box;
}

.Content {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #333;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

a {
  color: #666;
  transition: color ease-in-out 0.3s;
  text-align: end;
}

a:hover {
  text-decoration: none;
  color: darkmagenta;
}

a:hover i {
  color: darkmagenta;
  transition: color ease-in-out 0.3s;
}

i {
  color: #444;
  font-size: 1rem;
  padding: 7px;
  transition: color ease-in-out 0.3s;
  vertical-align: middle;
}

i:hover {
  color: darkmagenta;
}

figure {
  text-align: center;
  display: inline-block;
}
